@font-face {
  font-family: Avenir_Black;
  src: url(../fonts/Avenir-Black.woff);
}
@font-face {
  font-family: Geo_Bold;
  src: url(../fonts/Georgia-Bold.woff);
}
@font-face {
  font-family: Geo_Regular;
  src: url(../fonts/georgia.woff);
}
@font-face {
  font-family: Lato_Medium;
  src: url(../fonts/lato-medium.woff);
}
@font-face {
  font-family: Lato_Regular;
  src: url(../fonts/Lato-Regular.woff);
}
@font-face {
  font-family: Lato_SemiBold;
  src: url(../fonts/Lato-SemiBold.woff);
}