/* Global */
* {
  box-sizing: border-box;
}

/* Header  */
.header {
}
.header__container {
  width: 1370px;
  margin: 0 auto;
}
.header__top {
  padding-top: 18px;
  padding-bottom: 17px;
  border-bottom: 1px solid #d6d6d6;
}
.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__top-logo {
  width: 80px;
  height: 23px;
}
.header__nav {
  max-width: 557px;
  display: flex;
  gap: 72px;
  margin-left: -112px;
}
.header__nav-link {
  font-family: Lato_Medium;
  text-decoration: none;
  font-size: 20px;
  color: #292929;
  cursor: pointer;
}
.header__login {
  max-width: 279px;
  display: flex;
  gap: 38px;
  align-items: center;
}
.header__login-link {
  font-family: Lato_Regular;
  font-size: 20px;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.header__login-btn {
  border: 1px solid #01996d;
  border-radius: 4px;
  width: 183px;
  height: 51px;
  background: #01996d;
  font-family: Lato_Regular;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  cursor: pointer;
}
.header__main {
  background-image: url(../img/header_bg.jpg);
  background-size: cover;
  background-position: right;
  padding-top: 176px;
  padding-bottom: 336px;
}
.header__main-inner {
  
}
.header__main-title {
  font-family: Geo_Bold;
  font-size: 65px;
  color: #01996d;
  max-width: 440px;
  margin-bottom: 30px;
  line-height: 114%;
}
.header__main-subtitle {
  font-family: Lato_Regular;
  font-size: 20px;
  line-height: 145%;
  color: #484848;
  margin-bottom: 52px;
  max-width: 420px;
}
.header__main-btn {
  border: 1px solid #01996d;
  border-radius: 4px;
  width: 227px;
  height: 65px;
  background: #01996d;
  font-family: Lato_Regular;
  font-size: 20px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .header__nav {
    margin-left: 0px;
    gap: 30px;
  }
}
@media screen and (max-width: 992px) {
  .header__top-inner {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .header__nav {
    margin-left: 100px;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    margin-left: 0px;
  }
}
@media screen and (max-width: 576px) {
  .header__top-inner {
    justify-content: start;
  }
  .header__nav-link {
    font-size: 16px;
  }
  .header__nav {
    gap: 10px;
    flex-direction: column;
    margin-left: 20px;
  }
  .header__login {
    gap: 20px;
  }
  .header__login-link {
    font-size: 16px;
  }
  .header__login-btn {
    width: 150px;
    height: 35px;
    font-size: 16px;
  }
  .header__main-title {
    font-size: 35px;
  }
  .header__main-subtitle {
    font-size: 16px;
    max-width: 250px;
  }
}

/* Works */
.works {
  padding-top: 169px;
  padding-bottom: 51px;
  padding-left: 42px;
}
.works__container {
  max-width: 1413px;
  margin: 0 auto;
}
.works__inner {
}
.works__top {
  display: flex;
  margin-bottom: 135px;
}
.works__header {
}
.works__header-title_top {
  font-family: Lato_SemiBold;
  font-size: 24px;
  line-height: 157%;
  color: #424242;
  margin-bottom: -1px;
}
.works__header-title_bottom {
  font-family: Geo_Bold;
  font-size: 50px;
  line-height: 157%;
  color: #01996d;
  max-width: 584px;
}
.works__top-txt {
  font-family: Lato_Medium;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
  max-width: 671px;
  margin-left: 136px;
  padding-top: 58px;
}
.works__bottom {
  display: flex;
  gap: 95px;
}
.works__card {
  max-width: 390px;
}
.works__card_3 {
  margin-left: 9px;
}
.works__number {
  background-repeat: no-repeat;
  padding-top: 51px;
  margin-left: 8px;
}
.works__number-1 {
  width: 269px;
  height: 150px;
  background-image: url(../img/works_01.png);
  margin-bottom: 3px;
  padding-right: 8px;
}
.works__number-2 {
  background-image: url(../img/works_02.png);
  width: 392px;
  height: 150px;
  margin-bottom: 2px;
  margin-top: 287px;
  padding-right: 8px;
}
.works__number-3 {
  background-image: url(../img/works_03.png);
  width: 226px;
  height: 150px;
  margin-bottom: 0px;
  margin-top: 53px;
  padding-right: 8px;
  padding-top: 52px;
}
.works__number-title {
  font-family: Geo_Bold;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000;
  text-align: end;
}
.works__card-txt {
  font-family: Lato_Medium;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
  margin-bottom: 60px;
}
.works__card-img {
}
.works__card-txt_2 {
  margin-bottom: 36px;
}
.works__card-txt_3 {
  margin-top: -5px;
  margin-left: -6px;
  margin-bottom: 47px;
}

@media screen and (max-width: 1400px) {
  .works {
    padding-top: 100px;
    padding-bottom: 40px;
    padding-left: 0px;
  }
  .works__top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .works__top-txt {
    margin-left: 0px;
    padding-top: 58px;
  }
  .works__bottom {
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .works__number-2 {
    margin-top: 0px;
  }
  .works__card-txt_2 {
    margin-bottom: 60px;
  }
  .works__card-txt_3 {
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 992px) {
  .works__top {
    margin-bottom: 50px;
  }
  .works__number {
    margin-top: 30px;
  }
}
@media screen and (max-width: 768px) {
  .works__header-title_bottom {
    font-size: 36px;
  }
  .works__top-txt {
    font-size: 16px;
    padding-top: 25px;
  }
}
@media screen and (max-width: 576px) {
  .works__header-title_top {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .works__header-title_bottom {
    font-size: 24px;
  }
  .works__top-txt {
    font-size: 14px;
    padding-top: 20px;
  }
  .works__number {
    width: 260px;
  }
  .works__card-img {
    width: 260px;
  }
  .works__number-title {
    font-size: 22px;
    padding-top: 6px;
  }
  .works__card-txt {
    font-size: 16px;
    margin-bottom: 30px;
  }
}











@media screen and (max-width: 1400px) {
  .global__container {
    width: 1140px;
  }
}
@media screen and (max-width: 1200px) {
  .global__container {
    width: 960px;
  }
}
@media screen and (max-width: 992px) {
  .global__container {
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .global__container {
    width: 540px;
  }
}
@media screen and (max-width: 576px) {
  .global__container {
    width: 260px;
    padding-left: 10px;
    padding-right: 10px;
  }
}